.product {
  max-width: 900px;
  width: 80%;
  margin: 5% auto;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.product_category {
  margin: 3% 0;
}
.detail {
  flex: 1;
}
.product_img {
  max-width: 500px;
  width: 40%;
  height: auto;
}
.product_name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
.product_sub_name {
  font-size: 16px;
  color: gray;
  margin-bottom: 15px;
}

input {
  padding: 10px;
}

.bold_line {
  border: none;
  border-top: 2px solid #333;
  margin: 15px 0;
}
.product_info {
  margin-bottom: 5%;
}
.nutrients_content {
  overflow: hidden;
  width: 100%;
}
.table1 {
  width: 100%;
  /* float: left; */
  border-collapse: collapse;
}
.table1 td {
  padding: 10px;
}
.nutrients_info,
.product_size {
  width: 46%;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

.product_size {
  text-align: right;
  margin-right: 2%;
}

.table_title,
.table_content {
  padding: 7px;
}

.table_content {
  text-align: right;
}

.bold_line {
  border: 0px;
  border-top: 2px solid #333333;
}

.thin_line {
  border: 0px;
  border-top: 1px solid lightgrey;
}

.allergy {
  padding: 10px;
  background-color: #f4f4f2;
  border-radius: 5px;
}

.product_info,
.nutrients_info,
.product_size {
  margin-top: 10px;
}

.count_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.btn_cart {
  background: #00704a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_cart:hover {
  background: #005a38;
}

/* 반응형 조정 */
@media screen and (max-width: 1024px) {
  .product {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product_img {
    width: 60%;
    max-width: 250px;
  }

  .detail {
    width: 100%;
  }

  .count_cart {
    flex-direction: column;
  }

  .btn_cart {
    width: 100%;
    margin-top: 10px;
  }
}
